.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.btn {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.caption {
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.grid {
    padding: 30px;
}

.paper{
    cursor: pointer;
}

.blue-text{
    color:#008CBA;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.login-form {
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    text-align: center;
    width: 400px;
}

.login-form input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-form button {
    width: 40%;
    padding: 10px;
    margin: 10px;
    background: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.login-form button:hover {
    background: #0056b3;
}

.signup-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.signup-form{
    width: 600px;
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    text-align: center;
}

.inputs-div {
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    margin: 0 auto;
}
  
.column {
    width: 45%;
}

.inputs-div input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    width: 40%;
    padding: 10px;
    margin: 10px;
    background: #008CBA;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.signup-form button:hover {
    background: #0056b3;
}




